<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <header>
            <h1>this is the show all users page</h1>
    </header>
    <main class="container-fluid">
        <div class="row justify-content-center">
            <div class="row-md-5">
                <h2>Users</h2>
                <ul>
                    <li th:each="students: ${us}">
                        <div th:switch="${students.name}">
                            <span th:case="*">
                                Hey <span th:text="${students.name}"></span>, this is your data:
                            </span> <br>
                            <span th:text="${students.name}"></span> <br>
                            <span th:text="${students.height}"></span> <br>
                            <span th:text="${students.weight}"></span><br>
                            <span th:text="${students.haircolor}"></span><br>
                            <span th:text="${students.gpa}"></span><br>

                        </div>
                       
                    </li>
                </ul>

            </div>

        </div>


    </main>
    
    
</body>
</html>
<!-- the difference between doing this in in users instead of the static is that it is dynamic and it is up to what we wanna call the url and path -->