<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shokrollah Michael Meraj">
    <title>Student Form</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <div class="addcontainer">
      
      <form action="/users/adding" method="POST">
        <div class="addcontainer">
          <h2 class="headers">Add Student</h2>
          <input type="text" name="name" id="name" placeholder="Name" required> <br>
        
          
          <input type="number" inputmode="numeric" name="height" step=0.01 id="height"  min="0" max="300"  placeholder="Height" required> <br>
        
          
          <input type="number" inputmode="numeric" name="weight" step=0.01 id="weight"  min="0"  placeholder="Weight" required> <br>
      
          <div class="hairc">
            <label >Hair Color: </label>
            <input type="color" name="haircolor" id="haircolor" placeholder="Haircolor" required> <br>
          </div>
          
          <input type="number"  inputmode="numeric" step=0.01 name="gpa" id="gpa"  min="0"  max= "4.20" placeholder="GPA" required> <br>

          <input type="submit" value="Submit">
        </div>
      </form>
    </div>

    
    <div class="studentcontainer">
      <h2 class="headers">All Students:</h2>
      
        <div th:each="student : ${us}" class="student-rectangle"
              th:style="'width: ' + ${student.weight} + 'px; height: ' + ${student.height} + 'px;'">
          

          <p th:style="'color: ' + ${student.haircolor}"><span class="student-name" th:text="${student.name}" ></span></p>
          <div class="student-details">
            <p><span th:text="${student.gpa}"></span></p>
          </div>
        </div>
  
      
    </div>
    
    
  </body>
</html>



